In [1]:
import mysql.connector as mysql

In [3]:
db_con = mysql.connect(host = "localhost", user = "root")
db_cursor = db_con.cursor()
db_cursor.execute("create database unitedalliance")

In [10]:
db_con = mysql.connect(host = "localhost", user = "root", db = "unitedalliance")
db_cursor = db_con.cursor()
db_cursor.execute("create table Employees(id int primary key, name varchar(30),salary decimal(7,2))")
db_con.close()

In [12]:
db_con = mysql.connect(host = "localhost", user = "root", db = "unitedalliance")
db_cursor = db_con.cursor()
db_cursor.execute("insert into Employees(id,name,salary)values(1,'bharathi',25000.39)")
db_con.commit()
db_con.close()